[submodule "qtCanLib"]
	path = qtCanLib
	url = ../qtCanLib/
[submodule "qtDoodahLib"]
	path = qtDoodahLib
	url = ../qtDoodahLib
[submodule "cDoodahLib"]
	path = cDoodahLib
	url = ../cDoodahLib
[submodule "qtBlokLib"]
	path = qtBlokLib
	url = ../qtBlokLib
